{% set active = 'player' %}

{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('teamsShow') }}
{% endblock %}

{% block body %}
    <div class="container" x-data="playerPage()">
        <div class="row">
            <div class="col-sm-6">
                <h5 x-text="headerTitle"></h5>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-sm btn-outline-dark float-end" x-show="showList" @click="createPlayer()">
                    <i class="fa fa-plus"></i>
                    &nbsp;Add new player
                </button>
            </div>
        </div>
        <div class="row" x-show="showList">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" x-ref="active" :class="{ 'active': showActive }"
                       @click.prevent="showActive = true; showInactive = false">
                        Active
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" x-ref="inactive" :class="{ 'active': showInactive }"
                       @click.prevent="showActive = false; showInactive = true">
                        Inactive
                    </a>
                </li>
            </ul>
            <div class="col-sm-12" x-show="showActive">
                {% include 'player/active.html.twig' %}
            </div>
            <div class="col-sm-12" x-show="showInactive">
                {% include 'player/inactive.html.twig' %}
            </div>
        </div>
        <div class="row" x-show="showForm">
            <div class="col-sm-12">
                <form @submit.prevent="submitForm()">
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <input type="text" class="form-control" :class="formError.name !== '' ? 'is-invalid' : ''"
                               id="nameInput" x-model="formData.name">
                        <div class="invalid-feedback" x-text="formError.name"></div>
                    </div>
                    <div class="mb-3">
                        <label for="surnameInput" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="surnameInput"
                               :class="formError.surname !== '' ? 'is-invalid' : ''" x-model="formData.surname">
                        <div class="invalid-feedback" x-text="formError.surname"></div>
                    </div>
                    <template x-if="editPlayerId === null">
                        <div class="mb-3">
                            <label for="team" class="form-label">Team</label>
                            <select class="form-control" name="team" id="team" x-model="formData.teamId">
                                <option> Select a team</option>
                                <template x-for="team in teams">

                                    <option :value="team.id" x-text="team.name"></option>

                                </template>
                            </select>
                        </div>
                    </template>
                    <div class="mb-3">
                        <div class="btn-group float-end" role="group">
                            <button class="btn btn-xs btn-outline-danger" @click.prevent="closeForm()">
                                <i class="fa fa-close"></i>
                                &nbsp;Cancel
                            </button>
                            <button type="submit" class="btn btn-outline-success">
                                <i class="fa fa-check"></i>
                                &nbsp;Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <button type="button" x-show="false" x-ref="showModal" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#myModal">
            Launch demo modal
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            <span x-text="showActive ? 'Bid on ' : 'Hire'"></span> player:
                            <span x-text="showActive ? bidFormData.name : hireFormData.name"></span></h1>
                        <button type="button" x-ref="close-modal" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div x-show="showActive">
                            <div class="mb-3">
                                <label for="bidValue" class="form-label">Value</label>
                                <input type="number" class="form-control"
                                       :class="bidErrData.value !== '' ? 'is-invalid' : ''"
                                       id="bidValue" x-model.number="bidFormData.value">
                                <div class="invalid-feedback" x-text="bidErrData.value"></div>
                            </div>
                            <div class="mb-3">
                                <label for="teamBId" class="form-label">Team</label>
                                <select class="form-control"
                                        :class="bidErrData.teamId !== '' ? 'is-invalid' : ''"
                                        name="team" id="teamBId"
                                        x-model="bidFormData.teamId">
                                    <option> Select a team</option>
                                    <template x-for="team in filteredTeams">

                                        <option :value="team.id" x-text="team.name"></option>

                                    </template>
                                </select>
                                <div class="invalid-feedback" x-text="bidErrData.teamId"></div>
                            </div>
                        </div>
                        <div x-show="showInactive">
                            <div class="mb-3">
                                <label for="hireValue" class="form-label">Value</label>
                                <input type="number" class="form-control"
                                       id="hireValue" x-model.number="hireFormData.value">
                            </div>
                            <div class="mb-3">
                                <label for="hireDate" class="form-label">Excepted end date</label>
                                <input type="date" class="form-control"
                                       id="hireDate" x-model.number="hireFormData.exceptedEndDate">
                            </div>
                            <div class="mb-3">
                                <label for="teamHire" class="form-label">Team</label>
                                <select class="form-control"
                                        :class="hireErrData.teamId !== '' ? 'is-invalid' : ''"
                                        name="team" id="teamHire"
                                        x-model="hireFormData.teamId">
                                    <option> Select a team</option>
                                    <template x-for="team in teams">

                                        <option :value="team.id" x-text="team.name"></option>

                                    </template>
                                </select>
                                <div class="invalid-feedback" x-text="hireErrData.teamId"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="submitModal()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
