{% set active = 'home' %}

{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row" >
        <div class="col-sm-12">
            <h5>Recents bids</h5>
        </div>
        <div class="col-sm-12">
            {% set vars = {
                playerTeamId: null,
                maxValue: 5,
                action: false,
            } %}
            {% include 'bids/list.html.twig' with vars %}
        </div>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}
