{% set active = 'home' %}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="text-decoration-underline">Recents bids</h5>
            </div>
            <div class="col-sm-12">
                {% set vars = {
                    playerTeamId: null,
                    maxValue: 5,
                    action: false,
                } %}
                {% include 'bids/list.html.twig' with vars %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="text-decoration-underline">Players recently sent to the market</h5>
            </div>
            <div class="col-sm-12">
                {% include 'index/market.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
