<div x-data="bids()" id="bid-root-elt"
     data-player-id="{{ playerTeamId ?? 'null'}}"
     data-max-value="{{ maxValue }}"
     data-action="{{ action ? 'true' : 'false' }}"
     x-ref="bids"
>
    <div>
        <button x-show="false" @click="retrieveBIds()" x-ref="reload-bids"></button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                {% if action == false %}
                    <th scope="col">Player</th>
                    <th scope="col">Actual team</th>
                {% endif %}
                <th scope="col">Bidder</th>
                <th scope="col">Value</th>
                {% if action %}
                <th scope="col" class="text-end" style="width: 25%">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            <template x-for="bid in bids">
                <tr>
                    <td x-text="new Date(bid.date).toISOString().substring(0, 10)"></td>
                    <td x-show="!action" x-text="bid.playerTeam.player.name + ' ' + bid.playerTeam.player.surname"></td>
                    <td x-show="!action" x-text="bid.playerTeam.team.name"></td>
                    <td x-text="bid.team.name"></td>
                    <td x-text="bid.value"></td>
                    <td x-show="action">
                        <div class="hidden-sm hidden-xs btn-group float-end">
                            <button class="btn btn-sm btn-outline-success" @click="acceptBid(bid.id)">
                                <i class="ace-icon fa fa-check bigger-120"></i>
                                &nbsp;Accept
                            </button>
                            <button class="btn btn-sm btn-outline-secondary" @click="updateBid(bid.id)">
                                <i class="ace-icon fa fa-edit bigger-120"></i>
                                &nbsp;Edit
                            </button>
                            <button class="btn btn-sm btn-outline-danger"
                                    @click="removeBid(bid.id)">
                                <i class="ace-icon fa fa-close bigger-120"></i>
                                &nbsp;Remove
                            </button>
                        </div>
                    </td>
                </tr>
            </template>

            <template x-if="bids.length === 0">
                <tr>
                    <td colspan="5">
                        <div class="alert alert-info text-center">
                            There is no bids in this player you can bid :D
                        </div>
                    </td>
                </tr>
            </template>
            </tbody>

        </table>
        <nav aria-label="Page navigation example" x-show="pages > 1">
            <ul class="pagination justify-content-center">
                <li class="page-item" :class="{ 'disabled': actualPage === 1 }">
                    <a class="page-link" href="#" x-on:click.prevent="retrieveBIds(actualPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <template x-for="pageNumber in pages" :key="pageNumber">
                    <li class="page-item" :class="{ 'active': actualPage === pageNumber }">
                        <a class="page-link" href="#" x-text="pageNumber" x-on:click.prevent="retrieveBIds(pageNumber)"></a>
                    </li>

                </template>
                <li class="page-item" :class="{ 'disabled': actualPage === pages }">
                    <a class="page-link" href="#" x-on:click.prevent="retrieveBIds(actualPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script type="application/javascript">
    function bids() {
        return {
            bids: [],
            playerTeamId: JSON.parse(document.getElementById('bid-root-elt').dataset.playerId),
            maxValue: JSON.parse(document.getElementById('bid-root-elt').dataset.maxValue),
            action: JSON.parse(document.getElementById('bid-root-elt').dataset.action),
            actualPage: 1,
            pages: 0,
            uri: '{{ path('api_bids_list') }}',

            async retrieveBIds(page = this.actualPage) {
                let params = new URLSearchParams({
                    page: page,
                });
                if (this.playerTeamId) {
                    params.append('playerTeamId', this.playerTeamId)
                }

                if (this.maxValue) {
                    params.append('limit', this.maxValue)
                }
                let uri = this.uri + '?' + params.toString();
                let response = await (await fetch(uri)).json();
                this.bids = response.results;
                this.actualPage = page;
                this.pages = response.pageNumber;
            },

            async acceptBid(id) {
                let uri = this.uri + id;
                await fetch(uri, {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                    },
                }).then((response) => {
                    if (!response.ok) {
                        let err = new Error("HTTP status code: " + response.status)
                        err.response = response.json();
                        err.status = response.status
                        throw err
                    }
                    this.retrieveBIds();
                    const reloadHistory = document.querySelector('[x-ref="reload-history"]')
                    reloadHistory.click();
                });
            },

            async removeBid(id) {
                let uri = this.uri + id;
                await fetch(uri, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                    },
                }).then((response) => {
                    if (!response.ok) {
                        let err = new Error("HTTP status code: " + response.status)
                        err.response = response.json();
                        err.status = response.status
                        throw err
                    }
                    this.retrieveBIds();
                });
            },

            init() {
                this.retrieveBIds();
            }
        };
    }
</script>